.App {
  background-color: #121212;
  text-align: center;
  color: white;
  font-family: 'Montserrat' !important;
}
 body{
  background-color: #121212;
 }

 .Artists {
   align-items: center;
   text-align: left;
 }

 .title {
   padding: 0px;
   margin: 0px;
 }